/* the location of this file is arbitrary */

:root {
  --bg-color: black;
  --text-color-primary: white;
  --text-color-secondary: white;
  --accent-color: white;
  --code-font: "IBM Plex Mono", monospace;
}

html {
  background-color:  var(--bg-color);
  font-size: '18px';
  line-height: 1.666;

/*  --bg-color: white;
  --text-color-primary: black;
  --text-color-secondary: grey;
  --accent-color: blue;
  --code-font: "IBM Plex Mono", monospace;
  */
}

body {
  font-family: 'Georgia', 'serif';
  margin: 0 ;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir Next', 'Helvetica Neue', 'Segoe UI', 'Helvetica', 'Arial', 'sans-serif' ;
  margin: 0 ;
  font-weight: normal ;
}

button {
  border: 1px solid ;
  border-radius: 20px ;
  padding: 10px 30px ;
  border-color: var(--accent-color) ;
  font-family: var(--code-font) ;
  background-color: var(--bg-color) ;
  color: var(--accent-color) ;
  font-size: 1rem ;
  cursor: pointer ;
}

a {
  text-decoration: none ;
}

.AccentText {
  color: var(--accent-color);
}

.CodeFont {
  font-family: var(--code-font);
  font-size: 1rem;
}

.SecondaryText {
  color: var(--text-color-secondary);
}

.EpicLink {
  color: var(--text-color-secondary);
}

.EpicLink:hover {
  color: var(--accent-color);
}
